## Import Libraries

In [1]:
import numpy as np 
import pandas as pd

## Load the dataset

In [2]:
nyct_data  = pd.read_csv('train.csv',nrows=20000000)

## Analysis and Understanding dataset

### Attributes in DataSet

In [3]:
nyct_data.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [4]:
nyct_data.describe().applymap(lambda x: f"{x:0.5f}")

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,20000000.00000,20000000.00000,20000000.00000,19999861.00000,19999861.00000,20000000.00000
mean,11.34298,-72.51140,39.92070,-72.51060,39.91950,1.68531
std,16.89916,12.98955,9.38893,12.90617,9.57004,1.32118
min,-107.75000,-3439.24506,-3492.26377,-3442.02457,-3493.65185,0.00000
25%,6.00000,-73.99207,40.73491,-73.99140,40.73403,1.00000
50%,8.50000,-73.98181,40.75263,-73.98016,40.75315,1.00000
75%,12.50000,-73.96709,40.76712,-73.96368,40.76809,2.00000
max,61550.86000,3457.62568,3406.00839,3457.62235,3400.39160,208.00000

### Unknown values in Dataset

In [5]:
nyct_data.isna().sum()

key                    0
fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    139
dropoff_latitude     139
passenger_count        0
dtype: int64

### ALL rows contain NULL values

In [6]:
columns=['fare_amount','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count']
#nyct_data[nyct_data[columns].isna().all(axis=1)]

In [10]:
print("Total number of row which contains all na values : ",nyct_data[nyct_data[columns].isna()]['fare_amount'].count())

Total number of row which contains all na values :  0

### ALL rows contain Zeros Values

In [9]:
print("Total number of row which contains all Zeroes values : ",nyct_data[nyct_data[columns]==0]['fare_amount'].count())

Total number of row which contains all Zeroes values :  525

### Invalid Fare Amount

In [11]:
#Fare amount zeros
print(nyct_data[nyct_data['fare_amount']<=0])
print("Total fare amount is less than equal to zeros value : ",nyct_data[nyct_data['fare_amount']<=0].count()['fare_amount'])

                                   key  fare_amount          pickup_datetime  \
2039       2010-03-09 23:37:10.0000005         -2.9  2010-03-09 23:37:10 UTC
2486       2015-03-22 05:14:27.0000001         -2.5  2015-03-22 05:14:27 UTC
10002      2010-02-15 14:26:01.0000003          0.0  2010-02-15 14:26:01 UTC
13032      2013-08-30 08:57:10.0000002         -3.0  2013-08-30 08:57:10 UTC
27891     2015-05-15 21:40:28.00000010          0.0  2015-05-15 21:40:28 UTC
...                                ...          ...                      ...
19970522   2013-08-19 03:10:10.0000001         -2.5  2013-08-19 03:10:10 UTC
19971587   2015-02-21 11:59:26.0000002          0.0  2015-02-21 11:59:26 UTC
19971904   2010-02-15 17:02:14.0000003          0.0  2010-02-15 17:02:14 UTC
19979348   2015-05-24 19:18:38.0000003         -2.5  2015-05-24 19:18:38 UTC
19994455   2010-03-12 20:21:32.0000006          0.0  2010-03-12 20:21:32 UTC

          pickup_longitude  pickup_latitude  dropoff_longitude  \
2039            -73.789450        40.643498         -73.788665
2486            -74.000031        40.720631         -73.999809
10002           -73.987115        40.738808         -74.005911
13032           -73.995062        40.740755         -73.995885
27891           -74.077927        40.805714         -74.077919
...                    ...              ...                ...
19970522        -73.937862        40.757852         -73.937862
19971587        -73.937630        40.758221         -73.937630
19971904        -73.808794        40.689508         -73.972591
19979348        -73.963982        40.761410         -73.965370
19994455        -73.806024        40.651991         -73.812034

          dropoff_latitude  passenger_count
2039             40.641952                1
2486             40.720539                1
10002            40.713960                1
13032            40.741357                4
27891            40.805721                1
...                    ...              ...
19970522         40.757852                1
19971587         40.758221                1
19971904         40.757429                1
19979348         40.761791                1
19994455         40.694406                1

[1357 rows x 8 columns]
Total fare amount is less than equal to zeros value :  1357

### Invalid Location

#### Invalid Pickup points

In [12]:
condition_1=(nyct_data['pickup_longitude']==0) | (nyct_data['pickup_latitude']==0)
print("Invalid pickup point (0,0) : ",nyct_data[condition_1].count()['key'])

Invalid pickup point (0,0) :  381024

#### Invalid Dropoff point

In [13]:
condition_2=(nyct_data['dropoff_longitude']==0) | (nyct_data['dropoff_latitude']==0)
print("Invalid dropoff point (0,0) : ",nyct_data[condition_2].count()['key'])

Invalid dropoff point (0,0) :  380073

### Invalid Passenger

In [17]:
condition_5 = (nyct_data["passenger_count"] <=0 ) | (nyct_data["passenger_count"] >6) 
#print(nyct_data[condition_5])
print("Total of Invalid passenger counts : ",nyct_data[condition_5]['key'].count())

Total of Invalid passenger counts :  70625