###  Load the libraries

In [2]:
import pandas as pd
import numpy as np

### Load the data

In [3]:
source_path = r"train.csv"
splited_path = "splited_data\\"
nyct_data  = pd.read_csv(source_path,usecols = ['fare_amount','pickup_datetime', "pickup_longitude",'pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count'])

In [4]:
nyct_data.head(10)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2

In [5]:
nyct_data.shape

(55423856, 7)

### Correct the data

In [6]:
nyct_data['pickup_datetime'] = pd.to_datetime(nyct_data['pickup_datetime'], format='%Y-%m-%d %H:%M:%S UTC')

# Split the data

### 2009_Data to CSV

In [8]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2009].to_csv(splited_path + "2009_data.csv",index=False)

### 2010_Data to CSV

In [9]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2010].to_csv(splited_path + "2010_data.csv",index=False)

### 2011_Data to CSV

In [10]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2011].to_csv(splited_path + "2011_data.csv",index=False)

### 2012_Data to CSV

In [11]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2012].to_csv(splited_path + "2012_data.csv",index=False)

### 2013_Data to CSV

In [12]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2013].to_csv( splited_path + "2013_data.csv",index=False)

### 2014_Data to CSV

In [13]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2014].to_csv(splited_path + "2014_data.csv",index=False)

### 2015_Data to CSV

In [14]:
nyct_data[nyct_data['pickup_datetime'].dt.year == 2015].to_csv(splited_path + "2015_data.csv",index=False)